form {
  margin-top: 30px;
  text-align: center;
}

form input {
  margin-bottom: 10px;
}

form input[type="submit"] {
  margin-top: 10px;
}

.textos {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  font-weight: bold;
}

.card {
  margin-top: 40px;
  padding: 5px;
}

.card a {
  margin-top: 5px;
}

form img {
  width: 200px;
  margin-bottom: 40px;
}

.alert {
  margin-top: 30px;
}
