<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto NodeJS e MySQL</title>
    {{! Bootstrap }}
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
    {{! CSS }}
    <link rel="stylesheet" href="../css/estilo.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>