<main>
  {{! Formulário }}
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        {{! Menssagens }}
        {{>mensagens}}
        <form action="/cadastrar" method="post" enctype="multipart/form-data">
          <input
            type="text"
            class="form-control"
            placeholder="Nome do produto"
            name="nome"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Valor do produto"
            name="valor"
          />
          <input type="file" class="form-control" name="imagem" />
          <input type="submit" class="btn btn-primary" value="Cadastrar" />
        </form>
      </div>
    </div>
  </div>
  {{! Listagem de produtos }}
  <div class="container">
    <div class="row">
      {{#each produtos}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img src="../imagens/{{imagem}}" />
            <div class="textos">
              <p>{{nome}}</p>
              <p>R$ {{valor}}</p>
            </div>
            <a
              href="/formularioEditar/{{codigo}}"
              class="btn btn-warning"
            >Alterar</a>
            <a
              href="/remover/{{codigo}}&{{imagem}}"
              class="btn btn-danger"
            >Remover</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</main>