<main>
  {{! Formulário }}
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <form action="/editar" method="post" enctype="multipart/form-data">

          <img src="../imagens/{{produto.imagem}}" />
          
          <input type="hidden" name="nomeImagem" value="{{produto.imagem}}">

          <input type="hidden" name="codigo" value="{{produto.codigo}}" />
          <input
            type="text"
            class="form-control"
            placeholder="Nome do produto"
            name="nome"
            value="{{produto.nome}}"
          />
          <input
            type="number"
            class="form-control"
            placeholder="Valor do produto"
            name="valor"
            value="{{produto.valor}}"
          />
          <input type="file" class="form-control" name="imagem" />
          <input type="submit" class="btn btn-primary" value="Alterar" />
          <a href="/" class="btn btn-secondary">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</main>